html, body {
  height: relative;
  width: relative;
}

body {
  background-color: #FFFFFF;
  border-color: transparent;
  color: white;
  font-family: Raleway;
}

img {
  width: 60px;
  padding: 15px;
  opacity: 0.7;
}

h1 {
  color: #121212;
  font-size: 40px;
  text-transform: uppercase;
}

button {
  background: rgba(0, 0, 0);
  border-style: none;
  border-radius: 25px;
  color: inherit;
  font-size: 20px;
  padding: 0.5em 1.2em;
  outline: none;
  margin: auto 1em;
  opacity: 0.5;
}

button:hover, button:active, img:hover, img:active {
  cursor: pointer;
}

input[type="range"] {
  visibility: hidden;
}

input[type="range"].slider-active {
  visibility: visible;
}

.active {
  opacity: 1;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sound-types {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 400vh;
  min-height: 10vh;
}

#btn-mute {
  text-align: center;
  font-size: 2em;
  width: 100px;
  margin-bottom: 20px;
}